<h1>Adicione um usário</h1>

<form action="/users/create" method="POST" class="form">
    <div class="form-control">
        <label for="name"> Nome:</label>
        <input type="text" name="name" id="" placeholder="Digite o nome do usuário">
    </div>
        <div class="form-control">
        <label for="ocupation"> Ocupation: </label>
        <input type="text" name="ocupation" id="" placeholder="Digite a profissão">
    </div>
        <div class="form-control from-checkbox">
        <input type="checkbox" name="newsletter" id="" checked>
        <label for="newsletter"> Enviar Promoções ?</label>
    </div>
    <input type="submit" value="cadastrar" name="" id="">
</form>